@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
* {
  font-family: 'Space Mono', monospace;
}

body {
  font-family: 'Space Mono', monospace;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 2;
}
.user-lost {
  @apply bg-red-800;
}

.right-message {
  @apply border-emerald-500 bg-emerald-200 text-emerald-700;
}

.wrong-message {
  @apply border-red-500 bg-red-200 text-red-700;
}
.tied {
  @apply border-yellow-500 bg-yellow-200 text-yellow-600;
}

/* styling all buttons expect modal's button */
#user-chose,
#computer-chose,
.game-values,
.generate {
  background-color: rgb(249 168 212) !important;
  color: black !important;
}
